*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #080808;
}

#header{
    width: 100%;
    height: 150vh;
    background-image: url('images/Vivek_Full_Screen_Photo.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    color: #080808;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;    
}

nav ul li {
    padding : 0 10px 0 10px;
    display: inline-block;
    list-style: None;
    margin: 10px, 20px;
}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #de2a1b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover:after{
width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #de2a1b;
}
/* --------------- About  --------------- */
#about{
    padding: 80px o;
    color: #de2a1b;   
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;

}

.about-col-2 {
    flex-basis: 60%;
    }

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #080808;
    margin-top: 10px;
    margin-bottom: 16px;
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:100;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #de2a1b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #de2a1b;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------------- Services  --------------- */

.services{
    padding: 30px 0;

}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
}


.services-list div{
    background: #e9e9e8;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s, tranform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 16px;
}

.services-list div h2 a{
    text-decoration: none;
    color: #080808;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div p{
    text-align: justify;
}

.services-list div:hover{
    background: #5eb3e4;
    transform: translateY(-10px);
}


/* --------------- Portfolio  --------------- */

.portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #5eb3e4);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color:#1362c9;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
}

.work:hover img{
    transform: scale(1.2);
    
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #080808;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #080808;
    transition: background 0.5s;
}

.btn:hover{
    background: #5eb3e4;
}


/* --------------- Contact  --------------- */

.contact-left{
    flex-basis: 35%;
}


.contact-left p{
    margin: 30px;
    
}

.contact-left p i{
    color: #de2a1b;
    margin-right: 15px;
    font-size: 25px;
}


.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #e9e9e8;
    padding: 15px;
    margin: 15px;
    color: #de2a1b;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
}

.btn.btn2{
    display:block;
    background-color: #e9e9e8;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #080808;
    display: inline-block;
    transition: transform 0.2s;
}

.social-icons a:hover{
    color: #080808;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: #e9e9e8;
    font-weight: 300;
}



/* --------------- CSS for Small Screens  --------------- */

nav.fas{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url('images/Vivek_mobile_Photo.png');
    }

    .header-text{
        margin-top: 230%;
        padding: 10px;
        font-size: 15px;
        background: #e9e9e8;
        border-radius: 5%;
    }

    .header-text h1{
        font-size: 30px;

    }

    nav.fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #e9e9e8;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 35vh;
        padding-top: 30px;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin: 25px;

    }

    nav ul .fas{
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
    
}